*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
}

nav{
    background-color: gray;
}
main{
    background-color: black;
}
.sidebar{
    background-color: cadetblue;
}
footer{
    background-color: beige;
}
